body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    width: calc(100% - 40px);
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.menu {
    width: auto;
    height: auto;
}

.menu__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu__list:nth-last-child() {
    margin-right: 0;
}

.menu__item {
    display: inline-block;
    margin-right: 14px;
}

.menu__link {
    font-size: 13px;
    color: black;
}

.menu__icon {
    width: 30px;
    height: 30px;
    display: block;
    background-image: url('./images/sprite-google-search.png');
    background-repeat: no-repeat;
    background-position: -132px -38px;
    background-size: 528px 68px;
}

.menu__image {
    width: 32px;
    height: 32px;
    display: block;
    background-image: url('https://avatars0.githubusercontent.com/u/57654255?s=460&u=46cdb41f13e04706bfab0c0a1ed4e3cceff2c30d&v=4');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 90px;
}

.main__logo {
    width: fit-content;
}

.main__form {
    width: calc(582px - 32px);
    height: calc(44px - 10px);
    padding: 5px 16px;
    margin: 28px 0 28px 0;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 30px;
}

.main__form:hover {
    border: 1px solid transparent;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.28);
}

.main__form:nth-last-child(){
    margin: 0;
}

.main__icon {
    width: 20px;
    height: 20px;
    display: block;
}

.main__icon--search {
    margin-right: 15px;
    background-image: url('./images/icon-search.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
}

.main__icon--cross {
    display: none;
    cursor: pointer;
    background-image: url('./images/icon-cross.svg');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
}

.main__icon--show {
    display: block;
}

.main__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: lighter;
}

.main__button {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #5F6368;
    cursor: pointer;
    font-size: 14px;
    outline-color: cornflowerblue;
}

.main__button:hover {
    background: rgb(248,248,248);
    background: linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(241,241,241,1) 100%);
    border: 1px solid lightgrey;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}


.footer {
    width: calc(100% - 60px);
    height: auto;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.footer__item {
    margin-right: 25px;
}

.footer__item:nth-last-child(){
    margin-right: 0;
}

.footer__link {
    font-size: 14px;
    color: #5f6368;
}